* {
  box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  margin: 0;
  background: rgb(190, 188, 83);
  font-family: sans-serif;
}
.navbar {
  background: rgb(102, 26, 153);
  font-size: 1.5rem;
}
.logo {
  width: 1.5rem;
  fill: white;
}
.nav-link {
  margin-left: 0.7rem;
}
.error {
  height: 80vh;
  margin: 2rem;
}
.Footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}
.minHeight {
  min-height: 73vh;
}
.item {
  margin: 0 auto;
  padding: 7px 0 0 0;
  border-radius: 5px;
}
.purpleButton {
  background-color: rgb(102, 26, 153);
  color: white;
}
.purpleButton:hover {
  background-color: rgba(102, 26, 153, 0.756);
  color: rgba(255, 255, 255, 0.634);
}
.purpleButton:focus {
  background-color: rgb(102, 26, 153);
  color: white;
  border: 0;
}


.calculator-grid {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    word-wrap: break-word;
    word-break: break-all;
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.74);
}
.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, 0.904);
}
.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem;
}
.current-operand{
    color: white;
    font-size: 2.5rem;
}
.current-sum{
color: rgb(216, 213, 213);
font: 1.5rem;
}
.tinyLogo{
  width: 30px;
}
